<!DOCTYPE html>
<html>
<head>
    <title>Validate Token</title>
    <style>
        .red-line {
            background: linear-gradient(to right, transparent, red, transparent);
            height: 2px;
            margin: 20px 0;
            padding: 0;
            border: none;
        }
    </style>
</head>
<body>
    <h1>Validate Token</h1>
    <form method="POST" action="{{ url_for('validate_sym') }}">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" required><br><br>
        <button type="submit">Validate Token</button>
    </form>

    <h3>Token Validation Result:</h3>
    <p>{% if is_valid %}Valid{% else %}Invalid{% endif %}</p>

<hr class="red-line">


    <form method="POST" action="{{ url_for('validate_asym') }}">
        <label for="token">Token:</label>
        <input type="text" id="token_asym" name="token_asym" required><br><br>
        <button type="submit">Validate Token (Asymmetric)</button>
    </form>

    <h3>Token Validation Result (Asymmetric):</h3>
    <p>{% if is_valid_asym %}Valid{% else %}Invalid{% endif %}</p>

<a href="{{ url_for('create') }}">Create Token</a>
</body>
</html>
